:root {
    --theme-color: #5be779;
    /* --theme-color: #5be779; */
    --theme-dark: #000000;
    --theme-light: #fafafa;
}

body {
    display: flex;
    flex-direction: column;
    height: 100vh;
    padding: 0px;
    margin: 0px;
    background: linear-gradient(0deg, var(--theme-color), #000000);
    transition: all 2s ease;
}

/* body:has(#right-sec:hover){
    background: linear-gradient(0deg,black, #5be779);
} */

.flex-hor {
    display: flex;
    flex-direction: row;
}

.flex-ver {
    display: flex;
    flex-direction: column;
}

.demo-white-bg {
    background-color: rgba(225, 225, 225, 0.2);
}

#nav-bar {
    position: fixed;
    border: none;
    border-bottom: 1px solid white;
    border-radius: 45px;
    height: 10vh;
    width: 100%;
    box-sizing: border-box;
    align-items: center;
    justify-content: space-around;
    font-family: "Raleway", sans-serif;
    font-size: 20px;
}

#nav-bar>a{
    color: var(--theme-color);
    text-decoration: none;
}

#nav-bar>div {
    color: var(--theme-color);
    cursor: pointer;
    transition: all 0.5s ease-in;
    /* border: 1px solid rgba(225, 225, 225, 0); */
    padding: 0.8%;
    border-radius: 20%;
}

#nav-bar>div:hover {
    color: white;
    transform: scale(1.3);
    /* font-size: 25px; */
    /* border: 1px solid rgba(225, 225, 225, 0.2); */
}

#page-one {
    flex: 1;
    margin-top: 7%;
    align-items: center;
    gap: 10px;
    min-height: 0;
}

#page-one-title {
    color: white;
    font-size: 50px;
    font-family: "Bebas Neue", "serif";
    flex-shrink: 0;
}

.page-one-titles {
    font-family: "Dancing Script", cursive;
    font-size: 40px;
    color: white;
    padding-top: 30px;
    padding-bottom: 20px;
}

.page-one-input-set {
    gap: 10px;
}

.page-one-input-text {
    font-family: "Cormorant Garamond", sans-serif;
}

.page-one-btn {
    font-size: 15px;
    color: #fafafa;
    text-transform: uppercase;
    padding: 10px 20px;
    border-radius: 10px;
    border: 2px solid #fafafa;
    background: #252525;
    box-shadow: 3px 3px #fafafa;
    cursor: pointer;
    margin: 35px 0;
}

.page-one-btn:active {
    box-shadow: none;
    transform: translate(3px, 3px);
}



.sec-one-inputs {
    width: 300px;
    height: 10px;
    /* max-width: 190px; */
    padding: 0.875rem;
    font-size: 1rem;
    border: 1.5px solid #000;
    border-radius: 0.5rem;
    box-shadow: 2.5px 3px 0 #000;
    outline: none;
    transition: ease 0.25s;
}

.sec-one-inputs:focus {
    box-shadow: 7.5px 7px 0 black;
}

#page-one-divider {
    width: 1px;
    height: 80%;
    background-color: rgba(225, 225, 225, 0.4);
    /* background: linear-gradient(0deg,#266032,#070707); */
}

.page-one-input-text {
    color: white;
    font-size: 20px;
}

#page-one-hor{
    flex: 1;
    flex-shrink: 0;
    width: 100%;
    align-items: center;
    justify-content: space-around;
    min-height: auto;
    height: 80%;
}

.page-one-sec {
    width: 40vw;
    height: 100%;
    align-items: center;
    /* justify-content: space-around; */
    gap: 20px;
}

#page-one-footer{
    display: flex;
    flex:0 0 auto;
    height: auto;
    padding-bottom: 2%;
}

#page-one-footer>svg{
    transition: all 0.3s ease;
    transform-origin: bottom center;
    cursor: pointer;
}

#page-one-footer>svg:hover{
    fill: black;
    transform: scale(1.33);
}